@charset "utf-8";


body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #bc92ec98;
}

h1#principal {
  color: #ffffff;
  text-align: center;
  background-color: #873edb98;
}

h1 {
  color: #000000;
}

h2 {
  color: #000000;
}

.basico {
  color: #16c21e;
  font-weight: bold;
}

.intermediario {
  color: #b5b814;
}

.avancado {
  color: #d43b14;
}